.btn-toolbar {
  overflow: hidden;
  height: 28px;
}

#editor {
  width: 95%;
}

#preview {
    padding-top: 10px;
}

#branding {
height: 54px;
}

body {
    margin-top: 10px;
    padding-bottom: 40px;
}

@media print {

    .btn-toolbar, #editor, #branding {
        display: none;
        }
        
    a:link, a:visited {
        color: #520;
        background: transparent;
        font-weight: bold;
        text-decoration: underline;
    }

}
   